// button colors
$button-red: #ff594f;
$button-yellow: #ffbc1b;
$button-green: #00cd46;

// sidebar colors
$sidebar-main:#101022;
$sidebar-second:rgb(16, 16, 34, 0.9);
$sidebar-third: #8a8995;
$sidebar-text: #fff;
$sidebar-active: #292a48;

// section colors
$section-main: #f6f6f6;
$section-second: #91909b;

//issue colors
$issue-main: #fff;
$issue-second: #e0e0e0;
$issue-text: #292727;
$issue-star: #21233d;
