@use 'variables';

body {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-image: url(../assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    height: 60vh;
    width: 40vw;
    display: flex;
    position: relative;
    top: 20vh;
    left: 30vw;
    border-radius: 15px;
}

// Sidebar style

aside {
    flex-basis: 25%;
    border-radius: 15px 0 0 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

div.system-buttons {
    flex-basis: 5%;
    background-color: variables.$sidebar-main;
    padding: 10px 12px;
}

.system-buttons button {
    height: 9px;
    width: 9px;
    border: none;
    border-radius: 50%;
    margin: 3px;
    padding: 0;
}

.button-red {
    background-color: variables.$button-red;
}

.button-yellow {
    background-color: variables.$button-yellow;
}

.button-green {
    background-color: variables.$button-green;
}

nav {
    flex-basis: 95%;
    background-color: variables.$sidebar-second;
}

ul {
    padding: 0;
    margin: 0;
    li {
    list-style: none;
    padding: 20px 10px;
    position: relative;
        a {
            text-decoration: none;
            color: variables.$sidebar-text;
            span.nav-item {
                position: absolute;
                left: 35px;
            }
            span.nav-item-value {
                font-size: 0.9em;
                color: variables.$sidebar-third;
                position: absolute;
                right: 15px;
                top: 24px;
                }
        }
        &:hover, &:active, &:focus-within {
            background-color: variables.$sidebar-active;
        }
    }
}



// Issues list style

section {
    flex-basis: 75%;
    background-color: variables.$section-main;
    border-radius: 0 15px 15px 0;
    overflow: auto;
}

.group-issues {
    padding: 0 10px;
    margin-top: 0px;
    p {
        color: variables.$section-second;
        font-size: 0.85em;
    }
    .issue {
        background-color: variables.$issue-main;
        border: 1px solid variables.$issue-second;
        border-radius: 5px;
        margin: 4px;
        padding: 5px;
        position: relative;
        button.star-button {
            border: none;
            background-color: variables.$issue-main;
            position: absolute;
            right: 4px;
            top: 3px;
            label {
                svg {
                    .cls-1 {
                    fill: #fff;
                    fill-rule: evenodd;
                    stroke: variables.$issue-second;
                    }
                } 
            input {
                display: none;
                }
            input:checked + svg {
                .cls-1 {
                    fill: variables.$issue-star;
                    fill-rule: evenodd;
                    }
            }
            }
        }
    }
}
